    ____             __       __                 ________  ________
   / __ )____ ______/ /______/ /________  ____  / ____/  |/  / ___/
  / __  / __ `/ ___/ //_/ __  / ___/ __ \/ __ \/ /   / /|_/ /\__ \
 / /_/ / /_/ / /__/ ,< / /_/ / /  / /_/ / /_/ / /___/ /  / /___/ /
/_____/\__,_/\___/_/|_|\__,_/_/   \____/ .___/\____/_/  /_//____/
                                      /_/

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #555555
}

a {
  color: #02aace;
  text-decoration: none
}

a:focus,
a:hover {
  text-decoration: none
}

a:active {
  background: #ddd
}

blockquote,
figcaption {
  border-left-color: #c6cad2
}

pre,
code {
  color: #20252e
}

code {
  border-color: #c6cad2;
  background: #dee2ea
}

pre code {
  border-left-color: #c6cad2;
  background: transparent
}

code p {
  display: inline;
  margin: 0;
  padding: 0
}

td {
  border-color: #dee2ea
}

th {
  border-right-color: #c6cad2;
  background: #dee2ea
}

th:last-child {
  border-right-color: #dee2ea
}

table [aria-sort="descending"] a:after {
  border-top-color: #333
}

table [aria-sort="ascending"] a:after {
  border-bottom-color: #333
}

fieldset {
  background-color: #fff;
  border-color: #EAEAEA
}

legend {
  font-size: 1.1875em;
  font-weight: normal
}

fieldset .fieldset-legend {
  text-transform: uppercase
}

.marker {
  background: #abdeff
}

.more-help-link a:before {
  color: #fff;
  background: #0074bd
}

.icon-external-link {
  border-color: #0074bd
}

.icon-external-link-arrow {
  background: #0074bd;
  border-color: #fff
}

.icon-external-link-arrow:before {
  border-color: #0074bd
}

.icon-external-link-arrow:after {
  border-bottom-color: #0074bd
}

.links li:before,
.links li:after {
  border-color: #0074bd
}

.l-header {
  background: #2c2c2c
}

@media (min-width:34em) {
  .l-header-inner {
    min-height: 6.125rem
  }

}

.l-header-inner {
  color: #fff
}

.l-header a {
  color: #fff;
  text-decoration: none
}

.l-header a:hover {
  color: #edf8ff
}

.l-header a:active {
  background: #114a75
}

.block-system-header {
  text-align: center
}

.header-identity-wrapper {
  background: #000
}

@media (min-width:34em) {
  .header-identity-wrapper {
    display: inline-block
  }

}

@media (min-width:48em) {
  .header-identity-wrapper {
    text-align: left
  }

}

.header-site-name-wrapper {
  font-size: 1.25rem
}

@media (min-width:34em) {
  .header-site-name-wrapper {
    font-size: 1.5em
  }

}

@media (min-width:62em) {
  .header-site-name-wrapper {
    font-size: 1.75em
  }

}

.header-logo-wrapper {
  max-width: 6rem;
  height: 3.5rem;
  margin: -1.25rem 1rem -1rem -1.25rem
}

@media (min-width:48em) {
  .header-logo-wrapper {
    height: 4.25rem;
    margin: -1.75rem 1.25rem -1.25rem -1.25rem
  }

}

.l-header .site-name {
  font-weight: 200;
  text-align: center
}

.header-site-name-link {
  background: #02aace;
  padding: 1.25rem 1.25rem 1rem;
  line-height: 1.25rem;
  text-align: center
}

@media (min-width:34em) {
  .header-site-name-link {
    display: inline-block
  }

}

@media (min-width:48em) {
  .header-site-name-link {
    padding: 1.75rem 1.25rem 1.25rem
  }

}

.header-site-slogan {
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  text-align: center
}

@media (min-width:34em) {
  .header-site-slogan {
    height: 3.5rem;
    padding: 1.5625rem 1rem 0.9375rem;
    float: left
  }

}

@media (min-width:48em) {
  .header-site-slogan {
    height: 4.25rem;
    padding: 2.0625rem 1.25rem 0.9375rem;
    font-size: 1rem
  }

}

.l-header .block-system-main-menu {
  text-align: center
}

.header-menu {
  text-align: center
}

.header-menu > .links {
  display: inline-block
}

.l-header .menu,
.l-header .menu > li {
  text-align: left
}

.l-header .menu > li {
  font-size: 1em
}

@media (min-width:34em) {
  .l-header .menu > li {
    font-size: 1.125em
  }

}

@media (min-width:62em) {
  .l-header .menu > li {
    font-size: 1em
  }

}

.menu-dropdown ul {
  background: rgba(0, 0, 0, 0.25);
  border-bottom-color: #20252e
}

.js .menu-dropdown > li {
  border-bottom-color: #114a75
}

.menu-dropdown a.disabled {
  color: #bbbbbb
}

@media (min-width:48em) {
  .menu-dropdown a.disabled {
    color: #bbbbbb
  }

  .js .menu-dropdown ul ul {
    border-left-color: #20252e
  }

  .js .menu-dropdown > li:hover {
    background-color: #114a75
  }

  .js .menu-dropdown > li.has-children > a:hover,
  .js .menu-dropdown > li.has-children > a:focus {
    background-color: #114a75
  }

  .menu-dropdown a span.sub-arrow {
    border-color-top: #fff
  }

  .menu-dropdown ul {
    background: #20252e
  }

  .menu-dropdown ul a,
  .menu-dropdown ul a:hover,
  .menu-dropdown ul a:focus,
  .menu-dropdown ul a:active,
  .menu-dropdown ul a.highlighted {
    color: #fff
  }

  .menu-dropdown ul a:hover,
  .menu-dropdown ul a:focus,
  .menu-dropdown ul a:active,
  .menu-dropdown ul a.highlighted {
    background: #114a75
  }

  .menu-dropdown ul a.disabled {
    background: #fff;
    color: #cccccc
  }

  .menu-dropdown ul a span.sub-arrow {
    border-color-left: #fff
  }

  .menu-dropdown span.scroll-up,
  .menu-dropdown span.scroll-down {
    background: #fff
  }

  .menu-dropdown span.scroll-up:hover,
  .menu-dropdown span.scroll-down:hover {
    background: #eeeeee
  }

  .menu-dropdown span.scroll-up-arrow,
  .menu-dropdown span.scroll-down-arrow {
    border-color-bottom: #fff
  }

  .menu-dropdown span.scroll-down-arrow {
    border-color-top: #fff
  }

  [dir="rtl"] .menu-dropdown span.sub-arrow {
    border-color-right: #fff
  }

}

.l-footer {
  border-top: 0.25rem solid #c6cad2;
  line-height: 3;
  padding: 0.5em 0 1em;
  margin: 5em 0 0
}

.l-footer .block-system-powered-by a {
  text-decoration: none
}

.l-footer .block-system-powered-by a:hover {
  text-decoration: underline
}

.drop-lounging {
  width: 7em
}

.drop-lounging:before {
  background-image: url("../images/drop-lounging.png")
}

.breadcrumb {
  background: #dee2ea
}

.breadcrumb a {
  color: #000
}

.breadcrumb li:after {
  border-color: #fff
}

.draggable a.tabledrag-handle {
  background: #ebeff7
}

.draggable.drag td:after {
  background: #dee2ea;
  opacity: 0.3
}

tr.draggable .handle,
tr.draggable .handle .handle-inner {
  background: #333
}

tr.draggable .handle:before {
  border-bottom-color: #333
}

tr.draggable .handle:after {
  border-top-color: #333
}

tr.draggable .handle .handle-inner:before {
  border-left-color: #333
}

tr.draggable .handle .handle-inner:after {
  border-right-color: #333
}

abbr.tabledrag-changed {
  background: #FCE400
}

.status {
  color: #234600;
  background-color: #E9EEBC
}

div.status:before {
  background-color: #CFDE56
}

.warning {
  color: #555;
  background-color: #FAF5C9
}

div.warning:before {
  background-color: #FCE400
}

.error {
  color: #EC351C;
  background-color: #F9EDEC
}

div.error:before {
  background-color: #EE3D23
}

@media only screen and (min-width:34em) {
  div.status:before {
  }

  div.warning:before {
  }

  div.error:before {
  }

}

div.status:before {
}

div.warning:before {
}

div.error:before {
}

.form-item-radio label,
.form-radios label,
.form-item-checkbox label,
.form-checkboxes label {
  font-weight: 400
}

.form-item .description,
.password-strength,
.password-match {
  border-left-color: #c6cad2
}

.field-suffix .machine-name-value {
  border-color: #dee2ea;
  font-family: Consolas, 'Lucida Console', 'Courier New', monospace
}

select.form-select {
  font-weight: 400;
  border-color: #d0d0d0;
  color: #444b53;
  background: #fff
}

select.form-select:focus {
  color: #000;
  border-color: #43afe4
}

input.form-submit,
button.form-submit,
.button {
  text-align: center;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 0.025em;
  line-height: 2.875;
  background: #e5e5e6
}

.button:hover,
.button:focus,
input.form-submit:hover,
input.form-submit:focus {
  color: #333;
  background: #e5e5e6
}

.button:active,
input.form-submit:active {
  color: #333;
  background: #e5e5e6
}

.button,
input.form-submit,
input.button-primary,
button.button-primary,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: white;
  background: #02aace;
  border-radius: 5px
}

input.button-primary:hover,
input.button-primary:focus,
button.button-primary:hover,
button.button-primary:focus {
  color: white;
  background-color: #114a75
}

input.button-primary:active,
button.button-primary:active {
  box-shadow: inset 0 0 0 0.125em #114a75;
  background-color: #0074bd;
  color: white
}

input.button-secondary,
button.button-secondary {
  color: #828188;
  background-color: white;
  box-shadow: inset 0 0 0 0.125em #97979e
}

input.button-secondary:hover,
input.button-secondary:focus,
button.button-secondary:hover,
button.button-secondary:focus {
  color: white;
  background-color: #97979e
}

input.button-secondary:active,
button.button-secondary:active {
  color: white;
  background-color: #97979e;
  box-shadow: inset 0 0 0 0.125em #555
}

input.button-danger,
button.button-danger {
  color: #e7251b;
  box-shadow: inset 0 0 0 0.125rem #e7251b;
  background: transparent
}

input.button-danger:hover,
input.button-danger:focus,
button.button-danger:hover,
button.button-danger:focus {
  color: #fff;
  background-color: #e7251b
}

input.form-button-disabled,
input.form-button-disabled:active,
input.form-submit[disabled],
button.form-submit[disabled],
.button[disabled] {
  background: #eee;
  border-color: #eee;
  text-shadow: none;
  color: #999
}

input.button-danger[disabled],
button.button-danger[disabled],
input.button-secondary[disabled],
button.button-secondary[disabled] {
  background: #fefefe;
  box-shadow: inset 0 0 0 0.125rem #ddd;
  color: #ccc
}

input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-color,
input.form-number,
input.form-search,
input.form-file,
textarea.form-textarea {
  border-color: #d0d0d0;
  font-weight: 400;
  color: #444b53;
  background: #fff
}

input.form-text:focus,
input.form-tel:focus,
input.form-email:focus,
input.form-url:focus,
input.form-color:focus,
input.form-number:focus,
input.form-search:focus,
input.form-file:focus,
textarea.form-textarea:focus {
  color: #000;
  border-color: #43afe4
}

.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-tel,
.form-disabled input.form-email,
.form-disabled input.form-url,
.form-disabled input.form-color,
.form-disabled input.form-number,
.form-disabled input.form-search,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select,
input.form-autocomplete[disabled],
input.form-text[disabled],
input.form-tel[disabled],
input.form-email[disabled],
input.form-url[disabled],
input.form-color[disabled],
input.form-number[disabled],
input.form-search[disabled],
input.form-file[disabled],
textarea.form-textarea[disabled],
select.form-select[disabled] {
  background-color: #eee;
  color: #777
}

ul.action-links a {
  background: transparent url(../images/add.png) no-repeat 0 center;
  line-height: 1.875
}

[dir="rtl"] ul.action-links a {
  background-position: right center
}

.js fieldset.collapsible .fieldset-legend a:before {
  border-top-color: #000
}

.view-mode-teaser + .view-mode-teaser {
  border-top-color: #c6cad2
}

.pager-first,
.pager-previous,
.pager-ellipsis,
.pager-current,
.pager-next,
.pager-last,
.pager-item {
  background: #586172;
  color: #fff
}

.pager-ellipsis {
  color: #586172
}

.pager-first a,
.pager-previous a,
.pager-next a,
.pager-last a,
.pager-item a {
  color: #fff
}

.pager-first a:hover,
.pager-previous a:hover,
.pager-next a:hover,
.pager-last a:hover,
.pager-item a:hover {
  background: #3c4350
}

.pager-current {
  background: #20252e
}

.pager-first a:before,
.pager-first a:after,
.pager-previous a:before,
.pager-next a:before,
.pager-last a:before,
.pager-last a:after {
  border-color: #fff
}

.progress {
  font-weight: bold
}

.progress .bar {
  border-color: #e5e5e6;
  background: #e5e5e6
}

.progress .filled {
  background: #586172
}

.progress .filled:after {
  border-color: #3c4350
}

.ui-dialog {
  border-color: #20252e
}

.ui-dialog .ui-dialog-titlebar {
  background: #20252e;
  color: #fff
}

.ui-dialog .ui-dialog-titlebar-close {
  background: #008be2
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon:before,
.ui-dialog .ui-dialog-titlebar-close .ui-icon:after {
  background: #fff
}

.block-hero {
  font-size: 1em
}

@media (min-width:25em) {
  .block-hero {
    padding: 2rem 3rem 3rem;
    font-size: 1.3em
  }

}

@media (min-width:34em) {
  .block-hero {
    font-size: 1.5em
  }

}

.block-hero-no-image {
  background-color: #0074bd;
  background-image: url(../images/texture.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: luminosity
}

.no-background-blend-mode .block-hero-no-image:before {
  background: #009dff;
  opacity: 0.5
}

.block-hero .block-title {
  font-weight: 200;
  line-height: 1.2;
  font-size: 2.3em
}

@media (min-width:34em) {
  .block-hero .block-title {
    font-size: 2.625em
  }

}

nav.tabs:before {
  background-color: #586172
}

ul.primary {
  font-size: 0.9375em;
  text-transform: uppercase
}

ul.primary li a,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a,
.expand-dropdown-tabs-control,
.responsive-tabs-mobile .expand-dropdown-tabs-control:before,
.responsive-tabs-mobile .expand-dropdown-tabs-label {
  border-color: #586172;
  color: #757575;
  background-color: #dee2ea
}

ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited,
.responsive-tabs-mobile .expand-dropdown-tabs-label {
  color: #000;
  background-color: #fff;
  font-weight: bold
}

ul.primary li a:hover,
ul.primary li a:focus,
.expand-dropdown-tabs-control:hover,
.expand-dropdown-tabs-control:focus,
.responsive-tabs-mobile .expand-dropdown-tabs-control:hover:before,
.responsive-tabs-mobile .expand-dropdown-tabs-control:focus:before,
.responsive-tabs-mobile .expand-dropdown-tabs-control.js-active:before,
.expand-dropdown-tabs-control.js-active {
  color: #000;
  background: #bcc2cc
}

ul.primary li a:active,
.expand-dropdown-tabs-control:active,
.responsive-tabs-mobile .expand-dropdown-tabs-control:active:before {
  background: #dee2ea;
  box-shadow: inset 0 0 0 0.125em #bcc2cc
}

ul.secondary {
  font-size: 0.8125em;
  font-weight: bold;
  background-color: #fff
}

ul.secondary li a {
  border-color: #e3e2e2;
  color: #444B53
}

ul.secondary li a:hover,
ul.secondary li a:focus,
ul.secondary li.active a,
ul.secondary li.active a.active {
  color: #000;
  background: #e3e2e2
}

ul.secondary li a:active {
  color: #000;
  background: #e3e2e2;
  box-shadow: inset 0 0 0 0.125em #fff
}

.responsive-tabs-mobile ul.primary {
  background: #fff
}

.expand-dropdown-tabs ul.responsive-tabs-dropdown li a,
.expand-dropdown-tabs ul.responsive-tabs-dropdown li a:hover {
  border-top-color: #fff
}

.expand-dropdown-tabs-control:before {
  content: '...';
  font-weight: bold
}

.responsive-tabs-after .expand-dropdown-tabs-control {
  border-left-color: 2px solid #bcc2cc
}

.expand-dropdown-tabs-label {
  text-transform: uppercase
}

.expand-dropdown-tabs-control:hover .expand-dropdown-tabs-label,
.responsive-tabs-mobile.js-active .expand-dropdown-tabs-label {
  background: #e8e8e8
}

.responsive-tabs-mobile.expand-dropdown-tabs .expand-dropdown-tabs-label,
.responsive-tabs-mobile.expand-dropdown-tabs:hover .expand-dropdown-tabs-label {
  background: #fff
}

.responsive-tabs-mobile .expand-dropdown-tabs-control.js-active {
  background: #fff
}

.responsive-tabs-mobile .expand-dropdown-tabs-control:before {
  background: #dee2ea
}

.responsive-tabs-mobile.expand-dropdown-tabs .expand-dropdown-tabs-control:before {
  background: #fff
}

.responsive-tabs-mobile .expand-dropdown-tabs-control:after {
  border-right-color: #000
}

.expand-dropdown-tabs .expand-dropdown-tabs-control:after {
  border-top-color: #bcc2cc
}

.responsive-tabs-mobile ul.primary,
.responsive-tabs-mobile.expand-dropdown-tabs ul.primary {
  background: #fff
}

.responsive-tabs-mobile ul.primary,
.expand-dropdown-tabs.responsive-tabs-mobile ul.primary {
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 4px
}

.responsive-tabs-mobile ul.primary li {
  border-bottom-color: #fff
}

.responsive-tabs-mobile ul.primary a:after {
  background: #bcc2cc
}

.responsive-tabs-mobile-header-padder {
  background: #586172
}

.color-inverse {
  color: #fff
}

.font-size-xxxxlarge {
  font-size: 2.625rem
}

.font-size-xxxlarge {
  font-size: 2.25rem
}

.font-size-xxlarge {
  font-size: 1.8125rem
}

.font-size-xlarge {
  font-size: 1.625rem;
  font-weight: 400
}

.font-size-large {
  font-size: 1.4375rem
}

.font-size-medium {
  font-size: 1.25rem
}

.font-size-normal {
  font-size: 1rem
}

.font-size-small {
  font-size: 0.875rem
}

.font-size-xsmall {
  font-size: 0.75rem
}

.font-weight-bold {
  font-weight: 600
}

.font-weight-normal {
  font-weight: 400
}

.font-weight-light {
  font-weight: 200
}

.font-style-italic {
  font-style: italic
}

.font-style-normal {
  font-style: normal
}c

.field-name-field-tags a {
  background: #02aace none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  font-size: 0.929em;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 2px 6px;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px
}

.field-item {
  display: inline-block
}

h1.page-title {
  font-size: 1.75em;
  line-height: 1.25em
}

.meta {
  font-size: 80%;
  margin-bottom: 20px;
  font-weight: bold
}

.links.inline .node-readmore {
  float: right
}